= provide(:page_title, 'Checkout')
%h1 Summary

%h4 #{@order.video_length.name} - $#{@order.order_cost}

.row
  .col-md-12
    .errors-container(style='display: none;')
      %h2 The following errors occurred trying to process your payment:
      .payment-errors= flash[:stripe_error]
      .order-errors
.row
  .col-md-6
    = form_for @order, url: orders_path, html: { id: 'checkout', class: 'form-horizontal' }, remote: true do |f|
      = f.hidden_field :preparing_for_payment, value: true
      %fieldset
        %legend
          %h3 Billing Info
        .form-group
          = f.label :cardholder_name, class: 'control-label col-sm-4'
          .col-sm-8
            = f.text_field :cardholder_name, class: 'form-control'
        .form-group
          = f.label :cardholder_address, class: 'control-label col-sm-4'
          .col-sm-8
            = f.text_field :cardholder_address, class: 'form-control'
        .form-group
          = f.label :cardholder_city, class: 'control-label col-sm-4'
          .col-sm-8
            = f.text_field :cardholder_city, class: 'form-control'
        .form-group
          = f.label :cardholder_state, class: 'control-label col-sm-4'
          .col-sm-8
            = f.text_field :cardholder_state, class: 'form-control'
        .form-group
          = f.label :cardholder_zipcode, class: 'control-label col-sm-4'
          .col-sm-8
            = f.text_field :cardholder_zipcode, class: 'form-control'
        .form-group
          = f.label :cardholder_email, class: 'control-label col-sm-4'
          .col-sm-8
            = f.text_field :cardholder_email, class: 'form-control'
        .form-group
          = f.label :cardholder_phone_number, class: 'control-label col-sm-4'
          .col-sm-8
            = f.text_field :cardholder_phone_number, class: 'form-control'

  .col-md-6
    %form.form-horizontal
      %fieldset
        %legend
          %h3 Credit Card Info
        .form-group
          %label.control-label.col-sm-4(for='card_number')
            Card Number
          .col-sm-8
            %input#card_number.form-control(type='text' placeholder='Credit Card Number')
        .form-group
          %label.control-label.col-sm-4(for='card_exp_month')
            Card Exp Month
          .col-sm-8
            %input#card_exp_month.form-control(type='text' placeholder='MM')
        .form-group
          %label.control-label.col-sm-4(for='card_exp_year')
            Card Exp Year
          .col-sm-8
            %input#card_exp_year.form-control(type='text' placeholder='YYYY')
        .form-group
          %label.control-label.col-sm-4(for='card_cvc')
            Card CVC
          .col-sm-8
            %input#card_cvc.form-control(type='text' placeholder='CVC')

= form_tag submit_payment_orders_path, id: 'stripe-token-form', class: 'hidden' do
  = hidden_field_tag :stripe_token

.row
  .col-md-6
    .navigation
      = link_to 'Go Back', orders_path, class: 'btn btn-default'
  .col-md-6
    .navigation
      %button.checkout.btn.btn-primary(type="submit") Complete Order




- if flash[:stripe_error]
  :javascript
    $('.errors-container').show();
