= form_for @order, url: orders_path, remote: true do |f|
  %h3 Step 1: Give your project a name
  = f.text_field :project_name, class: 'persistent'


%form.fileupload(action="https://#{ENV['S3_BUCKET']}.s3.amazonaws.com" enctype='multipart/form-data')
  %h3 Step 2: Upload your raw footage and music
  = hidden_field_tag :key, s3_data.key
  = hidden_field_tag 'AWSAccessKeyId', ENV['AWS_ACCESS_KEY']
  = hidden_field_tag :acl, 'private'
  = hidden_field_tag :policy, s3_data.policy
  = hidden_field_tag :signature, s3_data.signature
  = hidden_field_tag :success_action_status, '201'

  %span.btn.btn-success.fileinput-button
    %i.glyphicon.glyphicon-plus
    %span Add files...
    = file_field_tag :file, multiple: true

  %button.btn.btn-primary.start(type="button")
    %i.glyphicon.glyphicon-upload
    %span Start upload
  %button.btn.btn-warning.cancel(type="button")
    %i.glyphicon.glyphicon-ban-circle
    %span Cancel upload

  #upload-progress.progress
    .progress-bar
      0%

  .attached-files


= form_for @order, url: orders_path, remote: true do |f|
  %h3 Step 3: Give us any additional instructions
  = f.text_area :instructions, class: 'persistent'

  = f.text_field :video_length, class: 'persistent'


:plain
  <script id="upload-file-template" type="text/x-mustache">
    <div class='file'>
      {{file_name}}
      {{#uploadable}}
        <button type='button' class='btn btn-warning remove'>Remove</button>
      {{/uploadable}}
    </div>
  </script>
