- provide(:page_title, 'Order Information')
- provide(:body_class, 'orders')
- content_for :header do
  :javascript
    (function() {
      var _fbq = window._fbq || (window._fbq = []);
      if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
      }
      _fbq.push(['addPixelId', '142283342608773']);
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', 'PixelInitialized', {}]);

.row.step
  .col-md-6
    = form_for @order, url: orders_path, remote: true do |f|
      .form-group
        = f.label :project_name do
          %h3 Step 1: Give your project a name.
          = f.text_field :project_name, class: 'persistent form-control', placeholder: 'Project name'

.row.step
  .col-md-6
    %form.fileupload(action="https://#{Rails.application.secrets.s3_bucket}.s3.amazonaws.com" enctype='multipart/form-data')
      %h3 Step 2: Upload Your Files.
      %p.subtext
        Add videos, images, songs - any type. No size limit!
      = hidden_field_tag :key, s3_data.key
      = hidden_field_tag 'AWSAccessKeyId', Rails.application.secrets.aws_access_key
      = hidden_field_tag :acl, 'private'
      = hidden_field_tag :policy, s3_data.policy
      = hidden_field_tag :signature, s3_data.signature
      = hidden_field_tag :success_action_status, '201'

      %span.btn.btn-success.fileinput-button
        %i.glyphicon.glyphicon-plus
        %span Add files...
        = file_field_tag :file, multiple: true

      %button.btn.btn-primary.start(type="button")
        %i.glyphicon.glyphicon-upload
        %span Start upload
      %button.btn.btn-warning.cancel(type="button" style="display: none;")
        %i.glyphicon.glyphicon-ban-circle
        %span Cancel upload

      #upload-progress.progress(style="display: none;")
        .progress-bar
          0%

      .attached-files

      %p.subtext
        %em
          Your files will take some time to upload. No need to sit here watching them &mdash; just leave this page open and come back when they're finished!
  .col-md-1
  .col-md-5.tip
    %p
      Pro Tip: When uploading video files, make sure you're on a strong
      internet connection. A wired connection is best, but if you're on
      wireless, use the
      = link_to "Speedtest", "http://www.speedtest.net", target: "_blank"
      to make sure your upload speed is above
      %b 15 Mbps
      \.

.row.step
  .col-md-6
    = form_for @order, url: orders_path, remote: true do |f|
      .form-group
        = f.label :instructions do
          %h3 Step 3: Give us any additional instructions.
          %p.subtext
            Please include any details you'd like to see incorporated into your video.
            Feel free to be as brief or as detailed as you would like. If there's a song or musical genre you want your video set to, let us know. You can also leave the song picking to us!
          = f.text_area :instructions, class: 'persistent form-control', placeholder: 'Any additional instructions go here.'
.row.step
  .col-md-6
    = form_for @order, url: orders_path, remote: true do |f|
      .form-group
        %h3 Step 4: When do you want your video back?
        .btn-group.radios.video_lengths
          - VideoLength.enabled.each do |video_length|
            %label.btn.btn-default
              = video_length.name
              %br
              $#{Order.video_cost(video_length)}
              = f.radio_button :video_length_id, video_length.id, class: 'persistent'
        %p.subtext
          %em
            Don't worry, your credit card won't be charged until
            %u after
            you are 100% satisfied with your video.

.navigation.step
  %h3 Step 5: Check out
  = link_to checkout_orders_path, class: 'btn btn-default' do
    Proceed to Checkout
    %span.glyphicon.glyphicon-chevron-right
  %p.subtext
    %em
      Please wait until your files have finished
      %br
      uploading before proceeding to Checkout page.


#preview-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close(type="button"  data-dismiss="modal") &times;
        %h4
          Preview
          %span.filename
      .modal-body
        .preview
          %img.hidden
          %video.hidden(controls)
      .modal-footer
        %button.btn.btn-primary(type="button" data-dismiss="modal") Close

:javascript
  window.uploadedFiles = #{order_files_to_json(@order.order_files)};

:plain
  <script id="upload-file-template" type="text/x-mustache">
    <div class='file'>
      <div class='preview'>
        <a href data-toggle="modal" data-target="#preview-modal">
          <img title='{{file_name}}' class='hidden'  />
          <video class='hidden' />
        </a>
        <span class='file-name'>{{file_name}}</span>
      </div>
      {{#done}}
      <div class='pull-right'>
        <span class='label label-success'>uploaded!</span>
      </div>
      {{/done}}
      {{#uploadable}}
      <div class='file-actions'>
        <button type='button' class='btn btn-warning remove'>Remove</button>
        <div class='progress' style='display:none'>
          <div class='progress-bar'></div>
        </div>
      </div>
      {{/uploadable}}
    </div>
  </script>
