- provide(:body_class, 'homepage')
.wide-image
  #homepage-carousel.carousel.fade(data-ride="carousel" data-interval="10000")
    .carousel-inner
      .item.active
        = image_tag 'homepage/birthday.jpg'
      .item
        = image_tag 'homepage/wedding.jpg'
      .item
        = image_tag 'homepage/hot_air_balloon.jpg'

.container
  .jumbotron
    .spacer
    .inner
      %h1
        %span You Film.
        %span We Edit.
      %p
        %span Transform your raw footage
        %span into a beautifully edited video
      %p= link_to 'Get started', orders_path, class: 'btn btn-primary btn-xxl get-started'

.we-are-awesome
  .container.homepage-blurb
    %p
      We create amazing videos for you to share with friends and family.
      %br
      Check out some of our latest ones below!

.videos
  .container.homepage-blurb
    .row
      .col-md-6.text-center.video
        <iframe src="//player.vimeo.com/video/89370714" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      .col-md-6.text-center.video
        <iframe src="//player.vimeo.com/video/89375270" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

.how
  .container.homepage-blurb
    %h2 How does ActiVid work?
    .row
      .col-sm-3
        %p.icon= image_tag "homepage/video.png"
        %h3 Transfer
        First, take all that awesome video you recorded on your last vacation, and transfer it to your computer.
      .col-sm-3
        %p.icon= image_tag "homepage/upload.png"
        %h3 Upload
        Then, upload your video files through our website, or send us a Dropbox link.
      .col-sm-3
        %p.icon= image_tag "homepage/edit.png"
        %h3 Edit
        Next, our editors will cut out all the boring stuff, leaving you with an amazing highlight video.
      .col-sm-3
        %p.icon= image_tag "homepage/stunt.png"
        %h3 Share
        Once you're happy, post your video and show off your awesomeness to friends and family.

.why
  .container.homepage-blurb
    %h2 Why Use ActiVid?
    .row
      .col-sm-3
        %p.icon= image_tag 'homepage/expert.png'
        %h3 Quality
        We work with the best video editors out there, which means your video is going to turn out great!
      .col-sm-3
        %p.icon= image_tag 'homepage/72h.png'
        %h3 Speed
        We guarantee a 3 business day turnaround for your final video.
      .col-sm-3
        %p.icon= image_tag 'homepage/cost.png'
        %h3 Affordability
        We offer the most affordable pricing of any video editing service. While others can charge over $250, an Actvid video starts at just $95.
      .col-sm-3
        %p.icon= image_tag 'homepage/guarantee.png'
        %h3 Guarantee
        Get a video that you absolutely love, or your money back. Guaranteed.

.container.bottom-cta
  %p Let us turn your raw footage into an amazing video!
  = link_to 'Get started', orders_path, class: 'btn btn-primary btn-xxl get-started'
