<div class="homepage">
	<div class="carousel fade" id="homepage-carousel" data-ride="carousel" data-interval="5000">
	     <div class="carousel-inner">
	       <div class="item active">
	         <%= image_tag 'homepage/biking.jpg' %>
	         <div class="container">
	           <div class="carousel-caption">
	             	<h1>
					        <span>You Film.,</span>
					        <span>We Edit.</span>
					      </h1>
								<div class="homepage-cta">
						      <h3>
						        <span>Transform your raw footage</span>
						        <span>into a beautifully edited video.</span>
						      </h3>
					        <%= link_to orders_path, class: 'btn btn-primary btn-xxl get-started' do %>
										<h3>Get Started.</h3>
										<p>Only $95. Satisfaction Guaranteed.</p>
									<% end %>
								</div>
	           </div>
	         </div>
	       </div>
	       <div class="item">
	       	 <%= image_tag 'homepage/skiing.jpg' %>
	         <div class="container">
	           <div class="carousel-caption">
							 	<h1>
					        <span>You Film,</span>
					        <span>We Edit.</span>
					      </h1>
								<div class="homepage-cta">
						      <h3>
						        <span>Transform your raw footage</span>
						        <span>into a beautifully edited video.</span>
						      </h3>
					        <%= link_to orders_path, class: 'btn btn-primary btn-xxl get-started' do %>
										<h3>Get Started.</h3>
										<p>Only $95. Satisfaction Guaranteed.</p>
									<% end %>
								</div>
	           </div>
	         </div>
	       </div>
	       <div class="item">
	          <%= image_tag 'homepage/surfing.jpg' %>
	         <div class="container">
	           <div class="carousel-caption">
	             	<h1>
					        <span>You Film,</span>
					        <span>We Edit.</span>
					      </h1>
								<div class="homepage-cta">
						      <h3>
						        <span>Transform your raw footage</span>
						        <span>into a beautifully edited video.</span>
						      </h3>
					        <%= link_to orders_path, class: 'btn btn-primary btn-xxl get-started' do %>
										<h3>Get Started.</h3>
										<p>Only $95. Satisfaction Guaranteed.</p>
									<% end %>
								</div>
	           </div>
	         </div>
	       </div>
	     </div>
	   </div><!-- /.carousel -->

	<div class="row">
	  <div class="container homepage-blurb">
			<h2>How People Use Activid</h2>
	    <p>
	      Videos for any occasion or business need.
	    </p>
	  </div>
	  <div class="container homepage-blurb">
	   	<div class="row">
				<div class="col-md-4 text-center video">
			    	<iframe src="//player.vimeo.com/video/89370714" height="100" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						<iframe src="//player.vimeo.com/video/89370714" height="100" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					<h3>Travel Videos</h3>
				</div>
				<div class="col-md-4 text-center video">
			    <iframe src="//player.vimeo.com/video/89370714" height="300" width="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					<h3>Family Videos</h3>
				</div>
				<div class="col-md-4 text-center video">
			    <iframe src="//player.vimeo.com/video/89370714" height="100" width="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					<iframe src="//player.vimeo.com/video/89370714" height="100" width="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					<h3>Promo Videos</h3>
				</div>
			</div>
			<div class="col-md-12">
				<%= link_to orders_path, class: 'btn btn-primary btn-xxl get-started' do %>
					<p>Watch More Customer Videos</p>
				<% end %>
			</div>
	  </div>
	</div>
	<div class="dark_section">
	  <div class="container homepage-blurb">
	    <h2>Create a Video in 4 Simple Steps</h2>
	    <div class="row">
	      <div class="col-sm-3">
	        <p class="icon">
	          <%= image_tag "homepage/video.png" %>
	        </p>
	        <h3>Transfer</h3>
	        <p>First, transfer your video to your computer.</p>
	      </div>
	      <div class="col-sm-3">
	        <p class="icon">
	          <%= image_tag "homepage/upload.png" %>
	        </p>
	        <h3>Upload</h3>
	        <p>Then, upload your video files through our website, or send us a Dropbox link.</p>
	      </div>
	      <div class="col-sm-3">
	        <p class="icon">
	          <%= image_tag "homepage/edit.png" %>
	        </p>
	        <h3>Edit</h3>
	        <p>Next, our editors will create a beautiful video from your raw footage.</p>
	      </div>
	      <div class="col-sm-3">
	        <p class="icon">
	          <%= image_tag "homepage/stunt.png" %>
	        </p>
	        <h3>Share</h3>
	        Once you're happy, post your video online to share with friends, family, or customers.
	      </div>
	    </div>
	  </div>
	</div>
	<div class="row">
	  <div class="container homepage-blurb">
	    <h2>Why Use ActiVid?</h2>
	    <div class="row">
	      <div class="col-sm-3">
	        <p class="icon">
	          <%= image_tag 'homepage/expert.png' %>
	        </p>
	        <h3>Quality</h3>
	        We only work with top editors which means your video is going to turn out great.
	      </div>
	      <div class="col-sm-3">
	        <p class="icon">
	          <%= image_tag 'homepage/72h.png' %>
	        </p>
	        <h3>Speed</h3>
	        We guarantee a set turnaround time for your final video.
	      </div>
	      <div class="col-sm-3">
	        <p class="icon">
	          <%= image_tag 'homepage/cost.png' %>
	        </p>
	        <h3>Affordability</h3>
	        We offer the most affordable pricing of any human-powered editing service. An Activid video starts at just $95.
	      </div>
	      <div class="col-sm-3">
	        <p class="icon">
	          <%= image_tag 'homepage/guarantee.png' %>
	        </p>
	        <h3>Guarantee</h3>
	        Get a video that you absolutely love, or your money back. Guaranteed.
	      </div>
	    </div>
	  </div>
	</div>
	<div class="container bottom-cta">
	  <%= link_to orders_path, class: 'btn btn-primary btn-xxl get-started' do %>
			<h3>Get Started.</h3>
			<p>Only $95. Satisfaction Guaranteed.</p>
		<% end %>
	</div>
</div>