<div class="homepage">
	<div class="jumbotron main-padding">
	  <div class="row">
	    <div class="col-md-11 col-md-offset-1 no-padding">
	      <div class="jumbotron-marketing">
	        	<h1>
							We Make Videos For You.
			      </h1>
  					<div class="homepage-cta">
			      	<h3>
				        <span>Transform your raw footage</span>
				        <span>into a beautifully edited video.</span>
				      </h3>
		        <%= link_to orders_path, class: 'btn btn-primary btn-xxl get-started' do %>
							<span class="main-text">Get Started.</span>
							<br>
							<span class="sub-text">Only $95. Satisfaction Guaranteed.</span>
						<% end %>
					</div>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="row">
	  <div class="container homepage-blurb">
			<h2 class="video-section">How People Use Activid</h2>
	    <p>
	      Videos for any occasion or business need.
	    </p>
	  	<div class="container homepage-videos">
		   	<div class="row">
					<div class="col-md-3 text-center no-padding">
							<div class="video">
				    		<iframe width="225" height="127" src="//www.youtube.com/embed/bTuCQwl8dN8?lrel=0&showinfo=0&autohide=1" frameborder="0" allowfullscreen></iframe>
							</div>
							<div class="video">
								<iframe width="225" height="127" src="//www.youtube.com/embed/7fC8tN09B30?rel=0&showinfo=0&autohide=1" frameborder="0" allowfullscreen></iframe>
							</div>
						<h3>Family Videos</h3>
					</div>
					<div class="col-md-6 text-center no-padding">
						<div class="video main-video-container">
							<iframe width="97%" height="264px" src="//www.youtube.com/embed/fhC0dEOE8Z8?rel=0&showinfo=0&autohide=1" frameborder="0" allowfullscreen style="margin-bottom: -1px;"></iframe>
						</div>
						<h3>Travel Videos</h3>
					</div>
					<div class="col-md-3 text-center no-padding">
						<div class="video">
				    	<iframe width="225" height="127" src="//www.youtube.com/embed/FluEqYJQp0k?rel=0&showinfo=0&autohide=1" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="video">
							<iframe width="225" height="127" src="//www.youtube.com/embed/_gDa12pZGco?rel=0&showinfo=0&autohide=1" frameborder="0" allowfullscreen></iframe>
						</div>
						<h3>Promo Videos</h3>
					</div>
				</div>
				<div class="col-md-12 video-cta">
					<%= link_to videos_path, class: 'btn btn-primary btn-xxl get-started' do %>
						<span class="main-text">Watch More Customer Videos</span>
					<% end %>
				</div>
		  </div>
		</div>
	</div>
	<div class="dark_section">
	  <div class="container homepage-blurb">
	    <h2>Create a Video in 4 Simple Steps</h2>
	    <div class="row">
	      <div class="col-sm-3">
	        <p class="icon">
	          <%= image_tag "homepage/video.png" %>
	        </p>
	        <h3>Transfer</h3>
	        <p>First, transfer your video to your computer.</p>
	      </div>
	      <div class="col-sm-3">
	        <p class="icon">
	          <%= image_tag "homepage/upload.png" %>
	        </p>
	        <h3>Upload</h3>
	        <p>Then, upload your video files through our website, or send us a Dropbox link.</p>
	      </div>
	      <div class="col-sm-3">
	        <p class="icon">
	          <%= image_tag "homepage/edit.png" %>
	        </p>
	        <h3>Edit</h3>
	        <p>Next, our editors will create a beautiful video from your raw footage.</p>
	      </div>
	      <div class="col-sm-3">
	        <p class="icon">
	          <%= image_tag "homepage/stunt.png" %>
	        </p>
	        <h3>Share</h3>
	        <p>Once you're happy, post your video online to share with friends, family, or customers.</p>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="row">
	  <div class="container homepage-blurb">
	    <h2>Why Use Activid?</h2>
	    <div class="row">
	      <div class="col-sm-3">
	        <p class="icon">
	          <%= image_tag 'homepage/expert.png' %>
	        </p>
	        <h3>Quality</h3>
	        <p>We only work with top editors which means your video is going to turn out great.</p>
	      </div>
	      <div class="col-sm-3">
	        <p class="icon">
	          <%= image_tag 'homepage/72h.png' %>
	        </p>
	        <h3>Speed</h3>
	        <p>We guarantee a set turnaround time for your final video.</p>
	      </div>
	      <div class="col-sm-3">
	        <p class="icon">
	          <%= image_tag 'homepage/cost.png' %>
	        </p>
	        <h3>Affordability</h3>
	        <p>We offer the most affordable pricing of any human-powered editing service. An Activid video starts at just $95.</p>
	      </div>
	      <div class="col-sm-3">
	        <p class="icon">
	          <%= image_tag 'homepage/guarantee.png' %>
	        </p>
	        <h3>Guarantee</h3>
	        <p>Get a video that you absolutely love, or your money back. Guaranteed.</p>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="container bottom-cta">
	  <%= link_to orders_path, class: 'btn btn-primary btn-xxl get-started' do %>
			<span class="main-text">Get Started.</span>
			<br>
			<span class="sub-text">Only $95. Satisfaction Guaranteed.</span>
		<% end %>
	</div>
</div>
