<div class="how-container">
	<div class="row">
		<div class="col-md-12 text-center hero_unit">
			<div class="container">
				<div class="col-md-6 col-md-offset-3 hero_unit_copy">
					<h1>A beautiful video, every time.</h1>
					<p>At Activid, we know that editing video can be a hassle. But that doesn't mean you need to enroll in film school to make your videos look great. We're proud to offer you the simplest way to create beautiful videos, whether for yourself, your friends, your family, or your business.</p>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="container how_it_works_section">
				<div class="col-md-6">
					<h2>High Quality Affordable Videos</h2>
					<p>Before Activid, the only way to get a professionally edited video was to hire a post production company. But this option can cost thousands of dollars. Other automated editing tools exist, but no other computer algorithm can find those magical five seconds with that persona smile in a five minute video of your friends.</p>
					<p>At Activid, we work with top editors who understand that people want a high quality video at an affordable price. That's why we only charge $95 for a standard edit, with most of it going to the editor.</p>
				</div>
				<div class="col-md-5 col-md-offset-1">
					<%= image_tag('hot_air_balloon_low_res.jpg', class: 'thumbnail') %>
				</div>
		</div>
	</div>

	<div class="row dark_section">
		<div class="container how_it_works_section">
			<div class="col-md-6">
				<%= image_tag('road_low_res.jpg', class: 'thumbnail') %>
			</div>
			<div class="col-md-6">
				<h2>Video Length</h2>
				<p>We know that it can be difficult to gauge how long a video should be. "I just recorded an hour of footage - should my edit be 2 minutes or 10 minutes?". The answer often depends on the quality of footage. Activid's editors are experts in sifting through raw video and determining an appropriate final length.</p>
				<p>As a rule of thumb, most people lose interest in a video after 3-4 minutes. Therefore, many of the videos we create fall somewhere between 2-4 minutes, depending on the footage. However, if you want to request a specific length, we are more than happy to tailer the video to your preferences.</p>
			</div>
		</div>
	</div>
	
	
	<div class="row">
		<div class="container how_it_works_section">
			<div class="col-md-6">
				<h2>Shoot People, Not Scenery</h2>
				<p>The reason you’re shooting video in the first place is to remember how much fun everyone had.  Although its good to have a few shots of amazing vistas or that giant waterfall, the primary subject of your video should be people.  This goes hand-in-hand with storytelling – every story needs characters.  Even in scenic shots, try to include a few people in the background.</p>
			</div>
			<div class="col-md-5 col-md-offset-1">
				<%= image_tag('computer.png', class: 'thumbnail') %>
			</div>
		</div>
	</div>

	<div class="row dark_section">
		<div class="container how_it_works_section">
			<div class="col-md-6">
				<%= image_tag('office.jpg', class: 'thumbnail') %>
			</div>
			<div class="col-md-6">
				<h2>Activid For Business</h2>
				<p>Video is one of the most powerful ways to connect with your customers, drive traffic to your website, and strengthen your company image. Adding your own logo will give your video a professional look and feel. After editing, we'll help you put your video where your audience will watch it - on your website, YouTube, and social media accounts.</p>

				<p>Yo've got the message, the product, and the passion. We've got the talent who can help you bring it to the world.</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="container how_it_works_section">
			<div class="col-md-12 text-center">
			 <%= link_to orders_path, class: 'btn btn-primary btn-xxl get-started' do %>
					<span class="main-text">Get Started.</span>
					<br>
					<span class="sub-text">Only $95. Satisfaction Guaranteed.</span>
				<% end %>
			</div>
		</div>
	</div>
</div>