<footer>
  <div class="container">
		<div class="row">
    <div class="col-md-6 social right-text">
      <%= link_to "", "https://www.facebook.com/actividfilms", class: "facebook", title: "Facebook", target: "_blank" %>
      <%= link_to "", "https://twitter.com/actividfilms", class: "twitter", title: "Twitter", target: "_blank" %>
      <%= link_to "", "https://instagram.com/actividfilms", class: "instagram", title: "Instagram", target: "_blank" %>
      <%= link_to "", "https://youtube.com/actividfilms", class: "youtube", title: "YouTube", target: "_blank" %>
      <%= link_to "", "https://vimeo.com/activid", class: "vimeo", title: "Vimeo", target: "_blank" %>
    </div>
		<div class="col-md-6">
			<%= link_to "About Us", about_path %>
			<%= link_to "Customer Videos", videos_path %>
			<%= link_to "Film Making Tips", filming_tips_path %>
		</div>
	</div>
    <nav>
      <% if cms_site %>
        <% cms_info_pages.each do |page| %>
          <%= link_to page.label, page.full_path %>
        <% end %>
      <% end %>
    </nav>
  </div>
</footer>