<html>
  <head>
    <title>Activid</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link rel='icon' href='/activid_favicon.png' type='image/png'></link>
    <script type='text/javascript' src='https://js.stripe.com/v2/'></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="container">
     	<%= render partial: 'layouts/header'%>
        <%= yield %>
			<%= render partial: 'layouts/footer'%>
    </div>
		<%= render partial: 'layouts/scripts'%>
  </body>
</html>
