<html>
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield :title %>
      <% else %>
        Activid | Video Editing Services
      <% end %>
    </title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel='icon' href='/activid_favicon.png' type='image/png'></link>
    <script type='text/javascript' src='https://js.stripe.com/v2/'></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="container">
     	<%= render partial: 'layouts/header'%>
        <%= yield %>
			<%= render partial: 'layouts/footer'%>
    </div>
		<%= render partial: 'layouts/scripts'%>
  </body>
</html>
