%html
  %head
    %title Activid
    = stylesheet_link_tag    "application"#, media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application"#, "data-turbolinks-track" => true
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,700,600,400,300' rel='stylesheet' type='text/css'>
    %link(rel='icon' href='/activid_favicon.png' type='image/png')
    %script(type='text/javascript' src='https://js.stripe.com/v2/')
    = csrf_meta_tags

    = yield :header

    :javascript
      (function() {
        var _fbq = window._fbq || (window._fbq = []);
        if (!_fbq.loaded) {
          var fbds = document.createElement('script');
          fbds.async = true;
          fbds.src = '//connect.facebook.net/en_US/fbds.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(fbds, s);
          _fbq.loaded = true;
        }
        _fbq.push(['addPixelId', '142283342608773']);
      })();
      window._fbq = window._fbq || [];
      window._fbq.push(['track', 'PixelInitialized', {}]);
  %body(class="#{content_for(:body_class)}")
    #container
      %header
        %nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
          .container
            .navbar-header
              = link_to 'ActiVid', root_path, class: 'navbar-brand'
            .collapse.navbar-collapse
              %ul.nav.navbar-nav.navbar-right
                %li
                  .ajax-spinner.inactive
                    = image_tag 'ajax-spinner.gif'
      .container
        = yield

      %footer
        .container
          .social
            = link_to "Facebook", "https://www.facebook.com/actividfilms", class: "facebook", title: "Facebook", target: "_blank"
            = link_to "Twitter", "https://twitter.com/actividfilms", class: "twitter", title: "Twitter", target: "_blank"
            = link_to "Instagram", "https://instagram.com/actividfilms", class: "instagram", title: "Instagram", target: "_blank"
            = link_to "YouTube", "https://youtube.com/actividfilms", class: "youtube", title: "YouTube", target: "_blank"
            = link_to "Vimeo", "https://vimeo.com/activid", class: "vimeo", title: "Vimeo", target: "_blank"
          %nav
            - if cms_site
              - cms_info_pages.each do |page|
                = link_to page.label, page.full_path

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-50128766-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();





    :javascript
      Stripe.setPublishableKey(#{Rails.application.secrets.stripe_publishable_key.to_json})


    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 971667032;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/971667032/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>
