%html
  %head
    %title Activid
    = stylesheet_link_tag    "application"#, media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application"#, "data-turbolinks-track" => true
    %script(type='text/javascript' src='https://js.stripe.com/v2/')
    = csrf_meta_tags
  %body
    .container
      %header
        %h1
          Activid
          %span.page-title= yield(:page_title)
      = yield

      .ajax-spinner(style='display: none;')
        AJAX IS HAPPENING...

    :javascript
      Stripe.setPublishableKey(#{STRIPE_PUBLISHABLE_KEY.to_json})